@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@layer components{
    .search{
        @apply text-2xl text-black
    }
    .pointer{
        @apply fixed w-[2em] h-[2em] m-auto p-[0] bg-transparent z-[200]
        blur-[4px] rounded-full opacity-[0.25] shadow-orange-950
        border-white border-[2px]

    }
}
h1, p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}
li a, button{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
p{
    font-weight: 200;
}
@keyframes value {
    from{transform: scaleX(0);}
    to{transform: scaleX(1);}
}
.search{
    animation: value 1s ease-in-out forwards;
}
.pointer{
    filter: drop-shadow(0px 0px 20px white);
}